In [1]:
import numpy as np
import pandas as pd

In [44]:
tw_datam = pd.read_excel(r'C:\Users\s7108/Dropbox/RA/Janice/經濟預測/data/簡報數據Dec4.xlsx', sheet_name = '彙整月')
tw_datam.index = pd.to_datetime(tw_datam['Unnamed: 0'])
tw_datam.drop(columns='Unnamed: 0',inplace=True)
tw_dataq = pd.read_excel(r'C:\Users\s7108/Dropbox/RA/Janice/經濟預測/data/簡報數據Dec4.xlsx', sheet_name = '彙整季', header=[0,1])
tw_dataq = tw_dataq.iloc[1:,:]
tw_dataq.index = pd.to_datetime(tw_dataq[('Unnamed: 0_level_0','Indicator')])
tw_dataq = tw_dataq.iloc[:,1:]



tw_dataq_colori = tw_dataq.columns.tolist()
tw_dataq_colmix = ['{}_{}'.format(col[0], col[1]) for col in tw_dataq_colori]  # 將雙層columns name降為一層
tw_dataq.columns = tw_dataq_colmix
print(tw_dataq.columns)
#tw_dataq.loc[:, '貢獻率_國外淨需求-減：商品及服務輸入'] = tw_dataq.loc[:, '貢獻率_國外淨需求-減：商品及服務輸入'] * -1#貢獻率_貢獻度國外淨需求-減：商品及服務輸入
tw_dataq.loc[:, '貢獻率_貢獻度國外淨需求-減：商品及服務輸入'] = tw_dataq.loc[:,
                                                              '貢獻率_貢獻度國外淨需求-減：商品及服務輸入'] * -1#貢獻率_貢獻度國外淨需求-減：商品及服務輸入

Index(['中國_CPI', '中國_Core CPI', '中國_GDP成長率', '中國_NMI', '中國_PMI', '中國_利率',
       '日本_CPI', '日本_Core CPI', '日本_GDP成長率', '日本_NMI', '日本_PMI', '日本_利率',
       '歐元區_CPI', '歐元區_Core CPI', '歐元區_GDP成長率', '歐元區_NMI', '歐元區_PMI', '歐元區_利率',
       '美國_CPI', '美國_Core CPI', '美國_GDP成長率', '美國_NMI', '美國_PMI', '美國_利率',
       '臺灣實質數據_連鎖實質值民間固定資本形成:1--4合計', '臺灣實質數據_連鎖實質值民間1.營建工程',
       '臺灣實質數據_連鎖實質值民間2.運輸工具', '臺灣實質數據_連鎖實質值民間3.機器及設備', '臺灣實質數據_連鎖實質值民間4.智慧財產',
       '臺灣實質數據_連鎖實質值民間消費合計', '臺灣實質數據_連鎖實質值GDP', '貢獻率_貢獻度國內需求-小計',
       '貢獻率_貢獻度國內需求-民間消費', '貢獻率_貢獻度國內需求-政府消費', '貢獻率_貢獻度國內需求-固定資本形成毛額',
       '貢獻率_貢獻度國內需求-固定資本形成毛額-民間', '貢獻率_貢獻度國內需求-固定資本形成毛額-公營',
       '貢獻率_貢獻度國內需求-固定資本形成毛額-政府', '貢獻率_貢獻度國內需求-存貨變動', '貢獻率_貢獻度國外淨需求-小計',
       '貢獻率_貢獻度國外淨需求-商品及服務輸出', '貢獻率_貢獻度國外淨需求-減：商品及服務輸入',
       '臺灣實質數據_連鎖實質值按國人境內外消費分：國人在國內消費', '臺灣實質數據_連鎖實質值按國人境內外消費分：國人在國外消費',
       '製造業營運狀況製造業營運狀況_營業額 (千元)_製造業', '製造業營運狀況製造業營運狀況_房屋營建工程 (千元)_製造業',
       '製造業營運狀況製造業營運狀況_交通運輸設備 (千元)_製造業', '製造業營運狀況製造業營運狀況_機械雜項設備 (千元)_製造業'],
      dtype='object')

In [45]:
(name1,name2,name3,data_type1,data_type2,data_type3)=('事業單位家數－月底_住宿及餐飲業',
                                                      '事業單位家數－月底_住宿及餐飲業',
                                                      '事業單位家數－月底_住宿及餐飲業',
                                                      'level','yoy','level')

In [46]:
my_list = [name1,data_type1,name2,data_type2,'(不選擇)','level',name3,data_type3, None,'level']
print(my_list)

['事業單位家數－月底_住宿及餐飲業', 'level', '事業單位家數－月底_住宿及餐飲業', 'yoy', '(不選擇)', 'level', '事業單位家數－月底_住宿及餐飲業', 'level', None, 'level']

In [47]:
print(my_list)
# 找出所有 None 與 '(不選擇)' 的位置
indices_nan = [i for i, x in enumerate(my_list) if x is None or x == '(不選擇)']
print(f"None 和 '(不選擇)' 在列表中的位置: {indices_nan}")

['事業單位家數－月底_住宿及餐飲業', 'level', '事業單位家數－月底_住宿及餐飲業', 'yoy', '(不選擇)', 'level', '事業單位家數－月底_住宿及餐飲業', 'level', None, 'level']
None 和 '(不選擇)' 在列表中的位置: [4, 8]

In [48]:
original_list = indices_nan

# 新增每個元素加上3的結果
indices_to_remove = [x for x in original_list] + [x + 1 for x in original_list]

print(indices_to_remove)

[4, 8, 5, 9]

In [60]:
# 刪除指定位置的元素
new_list = [x for i, x in enumerate(my_list) if i not in indices_to_remove]

print(new_list)

['事業單位家數－月底_住宿及餐飲業', 'level', '事業單位家數－月底_住宿及餐飲業', 'yoy', '事業單位家數－月底_住宿及餐飲業', 'level']

In [67]:
# 解決重複值

# 將列表按順序兩兩一組
pairs = [(new_list[i], new_list[i + 1]) for i in range(0, len(new_list), 2)]

# 排除掉重複的組
unique_list = list(set(pairs))

print(unique_list)

[('事業單位家數－月底_住宿及餐飲業', 'level'), ('事業單位家數－月底_住宿及餐飲業', 'yoy')]

In [68]:

title = '月資料'
if title == '月資料' :
    d_shift = 12
    d_freq ='MS'

else:
    d_shift = 4
    d_freq ='3MS'
    
data0 = tw_datam.dropna(how='all')
# 所以生成連續的日期範圍，確保沒有遺漏時間，頭尾也不會有nan(上一行刪除)
date_range = pd.date_range(start=data1.index.min(), end=data1.index.max(), freq=d_freq)
data1 = data1.reindex(date_range)  # 重新索引DataFrame

for i in range(len(unique_list)):#要先解決，不然遇到同樣的欄位名稱後面才yoy會出錯
    if item[1] == 'yoy':
        data0[f'{item[0]}_YoY'] = data0[item[0]] / data0[item[0]].shift(d_shift) - 1
        # item[0] = item[0]+'_YoY' 會出錯所以，創建一個包含修改過的 item 的新元組，然後替換掉列表中的舊元組
        unique_list[i] = (item[0]+'_YoY', item[1])
    else:
        pass

In [69]:
unique_list

[('事業單位家數－月底_住宿及餐飲業_YoY', 'yoy'), ('事業單位家數－月底_住宿及餐飲業_YoY', 'yoy')]

In [ ]:
data0 = tw_datam

for i in range(len([('事業單位家數－月底_住宿及餐飲業', 'level'), ('事業單位家數－月底_住宿及餐飲業', 'yoy')])):
    item = [('事業單位家數－月底_住宿及餐飲業', 'level'), ('事業單位家數－月底_住宿及餐飲業', 'yoy')][i]

    if item[1] == 'yoy':
        data0[f'{item[0]}_YoY'] = data0[item[0]] / data0[item[0]].shift(d_shift) - 1
        # 創建一個包含修改過的 item 的新元組，然後替換掉列表中的舊元組
        [('事業單位家數－月底_住宿及餐飲業', 'level'), ('事業單位家數－月底_住宿及餐飲業', 'yoy')][i] = (item[0]+'_YoY', item[1])
    else:
        pass

In [56]:
name1 = unique_list[0][0]
data_type1 = unique_list[0][1]
name2 = unique_list[1][0]
data_type2 = unique_list[1][1]

In [57]:
data1 = pd.concat([data0[name1], data0[name2]], axis=1).dropna(how='all')

In [58]:
data1

            事業單位家數－月底_住宿及餐飲業_YoY  事業單位家數－月底_住宿及餐飲業_YoY
Unnamed: 0
2021-03-01             -0.839506             -0.839506
2021-04-01             -0.916667             -0.916667
2021-05-01             -0.839506             -0.839506
2021-06-01              0.907143              0.907143
2021-07-01             21.826923             21.826923
2021-08-01             26.317073             26.317073
2021-09-01             17.736842             17.736842
2021-10-01             30.937500             30.937500
2021-11-01             27.461538             27.461538
2021-12-01             17.166667             17.166667
2022-02-01             13.416667             13.416667
2022-03-01             12.461538             12.461538
2022-04-01             10.357143             10.357143
2022-05-01              8.346154              8.346154
2022-06-01              0.617978              0.617978
2022-07-01             -0.650379             -0.650379
2022-08-01             -0.709821             -0.709821
2022-09-01             -0.719101             -0.719101
2022-10-01             -0.634051             -0.634051
2022-11-01             -0.540541             -0.540541
2022-12-01             -0.266055             -0.266055
2023-02-01             -0.265896             -0.265896
2023-03-01             -0.245714             -0.245714
2023-04-01             -0.201258             -0.201258
2023-05-01             -0.506173             -0.506173
2023-06-01             -0.773148             -0.773148
2023-07-01             -0.934940             -0.934940
2023-08-01             -0.935385             -0.935385
2023-09-01             -0.945000             -0.945000
2023-10-01             -0.978610             -0.978610
2023-11-01             -0.982353             -0.982353

## [ pct_change ]

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.pct_change.html

- fill_method {'backfill', 'bfill', 'pad', 'ffill', None}, 預設 'pad'
如何在計算百分比變化之前處理 NA
> 自版本 2.1 起已棄用：fill_method的所有選項均已棄用，除了fill_method=None。
-  limit int，預設無，停止前要填充的連續 NA 的數量
> 自 2.1 版本起已棄用。
- freq DateOffset、timedelta 或 str，可選從時間序列 API 使用的增量（例如“M”或 BDay()）。